header{
  background-color: #4f4f4f;
  height: 80px;
  width: 100%;
  position: fixed;
}
.contents{
  display: flex;
  width: 1000px;
  margin: 0 auto;
  background-color: #ddd;
  padding: 80px 0 0 0;
  .products-main{
    width: 760px;
    background-color: gray;
    .products{
      width: 760px;
      .product{
        height: 300px;
        width: 180px;
        background-color: red;
        margin: 15px 5px;
        float: left;
        &__image__size{
          height: 220px;
          width: 160px;
          margin: 10px 0px 0px 10px;
        }
      }
    }
  }
  .product-index{
    font-size: 40px;
    text-align: center;
  }


  .products-side-bar{
    width: 250px;
    background-color: blue;
  }

}

.pagination{
  height: 80px;
  background-color: yellow;
}
